<div class="tab-content" data-bind="with: $root.productsData" style="padding: 0 10px 10px 10px">
  <div class="tab-pane active" id="searchProducts" data-bind="with: productCatalog">
    <form data-bind="submit: searchCommand.execute">
      <table>
        <tr>
          <td>
            <div class="input-append" style="width: 550px;">
              <div class="btn-group">
                <input type="text" class="input-large" placeholder="@Resources.GetString("SEARCH_PLACEHOLDER")" data-bind="value: queryString" />
                <button class="btn" type="submit"><i class="icon-search"></i></button>
                <button class="btn" type="button" data-bind="visible: queryString, click: function() { queryString(''); searchCommand.execute(); }"><i class="icon-remove"></i></button>

                <select class="input-large" style="margin-left: 20px;" data-bind="value: cat">
                  <option value="">@Resources.GetString("PRODUCTCATALOG_CATEGORY_ALL")</option>
                  <option value="NewProduct">@Resources.GetString("PRODUCTCATALOG_CATEGORY_NEW")</option>
                  <option value="SkinCare">@Resources.GetString("PRODUCTCATALOG_CATEGORY_SKINCARE")</option>
                  <option value="Makeup">@Resources.GetString("PRODUCTCATALOG_CATEGORY_MAKEUP")</option>
                  <option value="Body&Sun">@Resources.GetString("PRODUCTCATALOG_CATEGORY_BODYANDSUN")</option>
                  <option value="Fragrance">@Resources.GetString("PRODUCTCATALOG_CATEGORY_FRAGRANCE")</option>
                  <option value="Mens">@Resources.GetString("PRODUCTCATALOG_CATEGORY_MENS")</option>
                  @*<option value="BestSeller">@Resources.GetString("PRODUCTCATALOG_CATEGORY_BESTSELLERS")</option>*@
                  @*<option value="Gifts">@Resources.GetString("PRODUCTCATALOG_CATEGORY_GIFTS")</option>*@
                  @*<option value="SpecialOffers">@Resources.GetString("PRODUCTCATALOG_CATEGORY_SPECIALOFFERS")</option>*@
                </select>
              </div>
            </div>
          </td>
          <td style="vertical-align: top;">
            <div style="padding-left: 15px;">
              <button id="productSearchCloseButton" style="display: none;" title="CLOSE" type="button" class="close" onclick="$('#productSearchCloseButton, #productSearch, #productSearchButton').toggle(); return false;" aria-hidden="true">&times;</button>
            </div>
          </td>
        </tr>
      </table>
    </form>

    <div class="alert alert-info" style="display: none" data-bind="visible: isEmpty">
      @Resources.GetString("PRODUCTCATALOG_SEARCH_NOTFOUND")
    </div>

    <table class="table table-condensed table-hover-well products" style="margin: 15px 0 0 0; display: none;" data-bind="visible: !isEmpty()">
      <thead>
        <tr>
          <th></th>
          <th style="white-space: nowrap;">@Resources.GetString("HEADING_PARTNUMBER")</th>
          <th>@Resources.GetString("HEADING_PRODUCTNAME")</th>
        </tr>
      </thead>
      <tbody data-bind="foreach: products">
        <tr style="cursor: pointer;" data-bind="click: toggleDetail" title="@Resources.GetString("PRODUCTCATALOG_CLICKTOVIEWDETAILS")">
          <td style="white-space: nowrap">
            <button class="btn btn-success" data-bind="command: $root.addWishlistProductCommand, clickBubble: false">@Resources.GetString("ADDPRODUCT_BUTTON")</button></td>
          <td data-bind="text: dispPartId"></td>
          <td class="description" style="width: 100%;">
            <span data-bind="html: name"></span>
            <span data-bind="html: shade"></span>
          </td>
        </tr>
        <tr class="detail" style="border: 0; margin: 0; padding: 0;">
          <td colspan="3" style="border: 0; padding: 0; margin: 0;" data-bind="if: isDetailVisible">
            <div class="media" style="padding: 10px; border-top: solid #DDD 1px;">
              <img class="pull-left" style="width: 114px; height: 152px;" data-bind="attr: { src: listImage }" />
              <div class="media-body" data-bind="html: desc"></div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <table class="table table-condensed table-pager" style="display: none; margin: 0;" data-bind="visible: !isEmpty()">
      <tr>
        <td class="pager-buttons">
          <button class="btn" type="button" data-bind="command: prevPageCommand"><i class="icon-caret-left"></i>&nbsp;@Resources.GetString("PAGER_PREVIOUS")</button>
          <button class="btn" type="button" data-bind="command: nextPageCommand">@Resources.GetString("PAGER_NEXT") <i class="icon-caret-right"></i></button>
          &nbsp;
          <span data-bind="activity: $root.wishListActivityIsExecuting">&nbsp;</span>
        </td>
        <td class="pager-status" style="text-align: left" data-bind="text: app.localizeFormat('PRODUCTSLIST_PAGER_STATUSFORMAT', itemCount(), currentPage(), pageCount())"></td>
      </tr>
    </table>
  </div>
</div>
